{% extends "base.html" %}

{% block title %}Lecturer Detail{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='lec-stud-detail.css') }}">
<div class="card">
    <h2>{{ lecturer_name }}</h2>
    <p><strong>Number of Courses:</strong> {{ num_courses }}</p><br>
    <div class="courses">
        {% for course in courses %}
            <a href="{{ url_for('course_detail', ccode=course[0]) }}" class="course">{{ course[0] }} - {{ course[1] }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
