{% extends "base.html" %}
{% block title %}Student Events{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='student-events.css') }}">
<div class="student-events">
    <div class="event-list">
        <h2>Events for {{ student_name }}</h2> 
        <ul>
            {% for event in events %}
            <li>
                <div class="event-title">{{ event['Event Title'] }}</div>
                <div class="course">{{ event['Course ID'] }} {{ event['Course Title'] }}</div>
            </li>
            {% endfor %}
        </ul>
        <p>Total Events: {{ total_events }}</p>
        <h2 class="due-date"> Due - {{ events[0]['Due Date'] }}</h2>
    </div>
</div>
{% endblock %}
